/* GameCard.css */
.game-card {
  width: 320px;
  height: 850px;
  background-image: linear-gradient(180deg, #026 0.5%, #04c 99%);
  border-radius: 15px;
  border: none;
  padding:15px;
}

.game-card-inner {
  padding: 15px;
}

.game-card-tag {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border-radius: 1234px;
  height: 37px;
  width: fit-content;
  margin-bottom: 8px;
  padding-inline: 12px;
  border: 1px solid white;
}

.image-container {
  width: 100%;
  height: 510px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  margin-bottom: 15px;
}

.cardimage {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.image-container:hover .cardimage {
  transform: scale(1.10); /* zoom in 5% */
}

.game-card-title {
  color: white !important;
  font-size: 19px;
  margin-bottom: 0% !important;
  margin-bottom: 15px !important;
  font-weight: 900;
}

.game-card-content {
  color: white;
  font-weight: 600;
}
